body {
    background-color: #151937;
    color: #fff;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.text-gradient {

    background-image: linear-gradient(to right, red, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-trading {
    background-image: linear-gradient(to right, red, blue);
    padding: 1rem 3rem;
    border-radius: 25px;
}